{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ movie.title }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Réalisateur</th>
                <td>{{ movie.director }}</td>
            </tr>
            <tr>
                <th>Année de sortie</th>
                <td>{{ movie.releaseYear }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ movie.genre }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ movie.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_movie_index') }}">← Retour à la liste</a>
    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">Modifier</a>

    {{ include('movie/_delete_form.html.twig') }}
</div>
{% endblock %}
